body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color-name{
    color: darkred;
}
.flexiable-contenar{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    border-radius: 40px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    
}
.top-banner{
    background-repeat: no-repeat;
}
.section-2{
    
}
.back{
    background-image: url('images/tig.jpg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: bottom;
}
.experiences-item{
    width: 40%;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;

}
#border-1{
    border-left: 10px solid blue;
}
#border-2{
    border-left: 10px solid rgb(226, 51, 118);
}
footer p{
    text-align: center;
}
